<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/exp001.app</string>
		<key>CFBundleIdentifier</key>
		<string>dev.dayuan.pve</string>
		<key>CFBundleShortVersionString</key>
		<string>0.1.3</string>
		<key>CFBundleVersion</key>
		<string>7</string>
		<key>SigningIdentity</key>
		<string>Apple Distribution: Lin  DaYuan (42JPXVRNT4)</string>
		<key>Team</key>
		<string>42JPXVRNT4</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-09-02T20:41:02Z</date>
	<key>Name</key>
	<string>exp001</string>
	<key>SchemeName</key>
	<string>exp001</string>
</dict>
</plist>
