# This is a basic workflow to help you get started with Actions

name: CI_Telegram

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: show job status
      if: always()
      run: echo $status
      env:
         status: ${{job.status}}

    - name: "#️⃣ Generate ios Build Number"
      if: always()
      id: ios_Build
      uses: einaregilsson/build-number@v2
      with:
        token: ${{ secrets.ACTION_TOKEN }}
        prefix: ios_Build
        
    - name: "#️⃣ Generate Android Build Number"
      if: always()
      id: Android_Build
      uses: einaregilsson/build-number@v2
      with:
        token: ${{ secrets.ACTION_TOKEN }}
        prefix: Android_Build
        
    - name: "#️⃣ Generate Android VersionName"
      if: always()
      id: Android_VersionName
      uses: einaregilsson/build-number@v2
      with:
        token: ${{ secrets.ACTION_TOKEN }}
        prefix: Android_VersionName

    - name: "#️⃣ Generate ios VersionName"
      if: always()
      id: ios_VersionName
      uses: einaregilsson/build-number@v2
      with:
        token: ${{ secrets.ACTION_TOKEN }}
        prefix: ios_VersionName
    - name: show job status
      if: always()
      id: show
      run: |
        echo Add test actions ,
        echo $status 
        echo "Android_Build $Android_Build"
        echo "Android_VersionName $Android_VersionName"
        echo "ios_Build $ios_Build"
        echo "ios_VersionName $ios_VersionName"
        
        ::set-output name=build_number::4
        
        Build_PATH=${{steps.Android_Build.outputs.bundle_path}}
        echo ::set-output name=Version::$Build_PATH
        
        echo Android_Build ${{steps.Android_Build.outputs.build_number}}
        echo Android_VersionName ${{steps.Android_VersionName.outputs.build_number}}
        echo ios_Build ${{steps.ios_Build.outputs.build_number}}
        echo ios_VersionName ${{steps.ios_VersionName.outputs.build_number}}
      env:
         status: ${{job.status}}
    - name: show Version status
      if: always()
      run: |
        echo Version ${{steps.ios_VersionName.outputs.Version}}
