# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Get npm version action
      id: package-version
      uses: pchynoweth/action-get-npm-version@1.0.1
    
    - name: Show version number
      run: echo "Version is ${{ steps.package-version.outputs.version }}"
 
    - name: NodeJS Project Information
      id: package-info
      uses: gregoranders/nodejs-project-info@v0.0.10

    - name: Show package info
      run: |
        echo "Version is ${{ steps.package-info.outputs.version }}"
        echo "Version is ${{ steps.package-info.outputs.name }}"
        echo "target is ${{ github.ref }}"
 
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        always-auth: true
        node-version: '12.x'
        registry-url: https://npm.pkg.github.com
        scope: '@numbersprotocol'
    - name: Install dependencies
      run: npm ci
      env:
        NODE_AUTH_TOKEN: ${{secrets.MY_PAT_ACTION_TEST}}



    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Run a echo
      run: echo Add test actions ,
