# This is a basic workflow to help you get started with Actions

name: deploy_google_play

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: NodeJS Project Information
      id: package-info
      uses: gregoranders/nodejs-project-info@v0.0.10

    - name: Show package info
      run: |
        echo "Version is ${{ steps.package-info.outputs.version }}"
        echo "name is ${{ steps.package-info.outputs.name }}"
        echo "target is ${{ github.ref }}"

    - name: Upload Android Release to Play Store (internal track publishing is default)
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        packageName: tw.cs6.mylogtw
        releaseFile: ./app-release-002.aab
        track: internal
        whatsNewDirectory: /whatsNewDirectory/whatsnew-zh-TW

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Run a echo
      run: echo Add test actions ,
