
# This is a basic workflow to help you get started with Actions

name:  Apple Code-signing Certificates and Keys

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macOS-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    
    - uses: yanzay/notify-telegram@v0.1.0
      if: always()
      with:
        chat: ${{ secrets.TELEGRAM_TO_MESSAGEID }} # user id or channel name secret
        token: ${{ secrets.TELEGRAM_TOKEN }} # token secret
        status: ${{ job.status }} # do not modify this line

    - name: send custom message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO_MESSAGEID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          Below is the apk for commit: 
   

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Run a echo
      run: echo Add test actions ,
