# This is a basic workflow to help you get started with Actions

name: CI_Telegram

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Show package info
      run: |
        touch text.txt
        
    - name: send custom message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO_MESSAGEID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          Below is the apk for commit: 
        document:  https://github.com/CS6/test-action-npm/blob/master/app-release-001.aab

    - name: send custom message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO_MESSAGEID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          Below is the apk for commit: 
        document: ${{ github.workspace }}/app-release-001.aab

    - name: send custom message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO_MESSAGEID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          Below is the apk for commit: 
        document: ${{ github.workspace }}/text.txt


#                 Below is the apk for commit: ${{ github.event.head_commit.message }}
#         document: ${{ github.workspace }}/app/build/outputs/apk/debug/app-debug.apk`

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Run a echo
      run: echo Add test actions ,
